agent.sources = source_exec
agent.channels = channel_logs
agent.sinks = sink_hdfs

agent.sources.source_exec.type = exec
agent.sources.source_exec.command = python3 python/gerador.py
agent.sources.source_exec.shell = /bin/bash -c
agent.sources.source_exec.restart = true
agent.sources.source_exec.restartThrottle = 1000
agent.sources.source_exec.batchSize = 1000
agent.sources.source_exec.batchTimeout = 1000

agent.sources.source_exec.interceptors = add_source_header
agent.sources.source_exec.interceptors.add_source_header.type = static
agent.sources.source_exec.interceptors.add_source_header.key = ingestion_agent
agent.sources.source_exec.interceptors.add_source_header.value = flume-exec

agent.sources.source_exec.channels = channel_logs

agent.channels.channel_logs.type = file
agent.channels.channel_logs.checkpointDir = /var/lib/flume/checkpoint
agent.channels.channel_logs.dataDirs = /var/lib/flume/data
agent.channels.channel_logs.useDualCheckpoints = true
agent.channels.channel_logs.backupCheckpointDir = /var/lib/flume/checkpoint-backup
agent.channels.channel_logs.capacity = 100000
agent.channels.channel_logs.transactionCapacity = 1000
agent.channels.channel_logs.keep-alive = 3

agent.sinks.sink_hdfs.type = hdfs
agent.sinks.sink_hdfs.hdfs.path = hdfs://namenode:8020/data/raw/ecommerce/logs/%Y-%m-%d/%H
agent.sinks.sink_hdfs.hdfs.filePrefix = flume
agent.sinks.sink_hdfs.hdfs.fileSuffix = .log
agent.sinks.sink_hdfs.hdfs.inUsePrefix = .
agent.sinks.sink_hdfs.hdfs.fileType = DataStream
agent.sinks.sink_hdfs.hdfs.writeFormat = Text
agent.sinks.sink_hdfs.hdfs.batchSize = 1000
agent.sinks.sink_hdfs.hdfs.rollInterval = 60
agent.sinks.sink_hdfs.hdfs.rollSize = 134217728
agent.sinks.sink_hdfs.hdfs.rollCount = 0
agent.sinks.sink_hdfs.hdfs.idleTimeout = 120
agent.sinks.sink_hdfs.hdfs.callTimeout = 10000
agent.sinks.sink_hdfs.hdfs.round = true
agent.sinks.sink_hdfs.hdfs.roundValue = 1
agent.sinks.sink_hdfs.hdfs.roundUnit = minute
agent.sinks.sink_hdfs.hdfs.useLocalTimeStamp = true

agent.sinks.sink_hdfs.channel = channel_logs